# local html files
site/

# virtual environment
venv/
venv_docu/

# python cache file
*.egg-info
*__pycache__*

# windows thumbnails
docs/fig/Thumbs.db

# ignore everything in data directory unless explicitly added
docs/data/*

# local data for spellchecking
.vscode/*